<launch>
 
    <node name="previous_positions" pkg="backtrack_behaviour" type="previous_positions" output="screen"/>
    <node name="republish_pointcloud" pkg="backtrack_behaviour" type="republish_pointcloud" output="screen"/>
    <node name="backtrack_server" pkg="backtrack_behaviour" type="backtrack_server.py" output="screen"/>
    
</launch>
